<h1>Raças</h1>

<table>
  <tr>
    <th>Nome</th>
  </tr>
  <%- @races.each do |race|%>
    <tr>
      <td><%= race.name -%></td>
      <td><%=link_to 'Exibir', object_url(race) %></td>
      <td><%=link_to 'Editar', edit_object_url(race) %></td>
    </tr>
  <% end %>
</table>
<br/>