.box {
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #324001;
  background-color: #E2F0D6;
  margin: 3px 10px;
  padding: 5px 10px;
}

.box table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.box table tr td {
  border-top: 1px dotted black;
  border-left: 1px dotted black;
  text-align: center;
  padding: 2px;
  width: 20px;
}

.box table tr th {
  border-right: 1px solid black;
  border-top: 1px dotted black;
  padding: 2px;
}

.box table tr.topRow th {
  border-top: 0px;
  border-left: 1px dotted black;
  border-bottom: 1px solid black;
  border-right: 0px;
}

.box table tr.oddRow {
  background-color: #eaf3e3;
}

.box table tr th.emptyCell {
  border-top: 0px;
  border-left: 0px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.box table tr.topRow th.noBorderLeft {
  border-left: 0px;
}

.box table tr td.noBorderLeft {
  border-left: 0px;
}

.box table tr th.borderRight {
  border-right: 1px solid black;
}

.box table tr td.borderRight {
  border-right: 1px solid black;
}

.field {
  border-bottom: 1px dotted black;
  margin: 4px 0px;
  padding: 2px 4px;
  font-size: 0.8em;
}

.lastField {
  border-bottom: 0px;
}

.field label {
  font-weight: bold;
  float: left;
  width: 45%;
  padding-right: 5px;
}

.field span {
}

.clear {
  clear: both;
}