html {
  margin: 0px;
  padding: 0px;
  background-color: #F6FFE0;
  font-family: Verdana, Helvetica, Arial;
  font-size: 1.0em;
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
	background: #F6FFE0 url(/images/body_background.png) repeat-x top left;
  font-family: Verdana, Helvetica, Arial;
  font-size: 1.0em;
  height: 100%;
}

a {
  text-decoration: none;
  color: #10222B;
}

a:visited {
  text-decoration: none;
  color: #245b77;
}

a:hover {
  text-decoration: underline;
}