html {
  margin: 0px;
  padding: 0px;
  background-color: #F6FFE0;
  font-family: Verdana, Helvetica, Arial;
  font-size: 16px;
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
	background: #F6FFE0 url(/images/body_background.png) repeat-x top left;
  font-family: Verdana, Helvetica, Arial;
  font-size: 1.0em;
  height: 100%;
}

a {
  text-decoration: none;
  color: #1E2601;
}

a:visited {
  text-decoration: none;
  color: #618C03;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 1.5em;
  margin: 10px;
  color: #5E3C09;
}

h2 {
  font-size: 1.3em;
  margin: 10px;
  color: #5E3C09;
}

h3 {
  font-size: 1.1em;
  margin: 0px 10px;
  color: #5E3C09;
}

h4 {
  font-size: 0.8em;
  margin: 0px 10px;
  color: #5E3C09;
}

hr {
  margin: 10px 5px;
  border: 1px dotted #d9dba6;
}

p {
  font-size: 0.9em;
  margin: 10px;
}