#header {
  width: 100%;
  height: 85px;
	background: transparent url(/images/header_background.jpg) no-repeat top left;
}

#message {
  float: right;
  margin: 0px 10px;
  width: 500px;
  background-color: #ebf6ce;
  -moz-border-radius-bottomleft: 12px;
	-moz-border-radius-bottomright: 12px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright :12px;
  border-top: 1px solid #d9dba6;
	border-right: 1px solid #d9dba6;
	border-bottom: 2px solid #d9dba6;
	border-left: 2px solid #d9dba6;
  clear: both;
  font-weight: bold;
  min-height: 25px;
}

#message .notice, #message .warning, #message .error {
  padding-left: 33px;
  background: transparent url(/images/important.png) no-repeat scroll left center;
  line-height: 1.4em;
  font-size: 1.0em;
}

#message .warning {
  color: #0005dc;
}

#message .error {
  color: #ff8705;
}

#sidebar {
  display: none;
	width: 230px;
	height: auto;
  clear: right;
	float: right;
	background-color: #ebf6ce;
	margin: 40px 15px 15px 0px;
	-moz-border-radius-bottomleft: 12px;
	-moz-border-radius-bottomright: 12px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	border-top: 3px solid #d9dba6;
	border-right: 3px solid #d9dba6;
	border-bottom: 6px solid #d9dba6;
	border-left: 6px solid #d9dba6;
	padding: 12px;
}

#footer {
  background: transparent url(/images/footer_background.png) repeat-x top left;
  width: 100%;
  padding: 0px;
  margin: 0px;
  clear: both;
}

#footer p {
  padding: 15px 0px 0px 0px;
  margin: 20px 0px 0px;
  height: 25px;
  text-align: center;
  font-size: 0.6em;
}

.bigAvatar img {
  width: 80px;
}

.smallAvatar image {
  width: 40px;
}