.menu_tabnav {
  color: #10222B;
  border-bottom: 4px solid #95AB63;
  margin: 18px 0px 0px 0px;
  padding: 0px;
  z-index: 1;
  padding-left: 10px;
  clear: left;
  float: left;
  width: 100%;
}

.menu_tabnav ul {
  margin: 0px;
  padding: 0px;
}

.menu_tabnav li {
  display: inline;
  overflow: hidden;
  list-style-type: none;
}

.menu_tabnav li span.disabled {
  color: #E2F0D6;
  background-color: #FDFDFD;
  border: 2px solid #95AB63;
  border-bottom: none;
  padding: 2px 5px 0px 5px;
  margin: 0;
  text-decoration: none;
}

.menu_tabnav a, .menu_tabnav a:visited, menu_tabnav a.active {
  color: #10222B;
  background-color: #E2F0D6;
  font-weight: normal;
  border: 2px solid #95AB63;
  border-bottom: 4px solid #95AB63;
  padding: 2px 10px 3px 10px;
  line-height: 1.6em;
  margin: 0;
  text-decoration: none;
}

.menu_tabnav a.active {
  font-weight: bold;
  background-color: #F6FFE0;
  border-bottom: 4px solid #F6FFE0;
}

.menu_tabnav a:hover {
  color: #10222B;
  background-color: #F6FFE0;
}

.menu_tabnav a.active:hover {
	color: #10222B;
  background-color: #E2F0D6;
  border-bottom: 4px solid #E2F0D6;
}
