.menu_tabnav {
  color: #000;
  margin: 36px 0px 0px;
  padding: 0px;
  z-index: 1;
  padding-left: 0px;
  clear: left;
  float: left;
  width: 100%;
}

.menu_tabnav ul {
  margin: 0px;
  padding: 0px 0px 0px 10px;
}

.menu_tabnav li {
  display: inline;
  overflow: hidden;
  list-style-type: none;
	font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	margin: 0px 1px 0px 0px;
}

.menu_tabnav li span.disabled {
  color: #000;
  background-color: #FDFDFD;

  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;

  border: 3px solid #95AB63;
  border-bottom: none;
  padding: 2px 8px 2px 8px;
  margin: 0px;
  text-decoration: none;
}

.menu_tabnav a, .menu_tabnav a:visited, .menu_tabnav a.active {
  color: #548000;
  font-weight: normal;
  background-color: #eaf0db;

  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;

  border: 3px solid #548000;
  padding: 2px 8px 2px 8px;
  line-height: 1.6em;
  margin: 0;
  text-decoration: none;
}

.menu_tabnav a{
	background: #F6FFE0 url(/images/menu_item_background.png) repeat-x top left;
}

.menu_tabnav a.active {
  font-weight: bold;
  background-color: #F6FFE0;
	border-bottom: 3px solid #F6FFE0;
	background-image: none;
	color: #000000;
}

.menu_tabnav a:hover {
  color: #000;
  background-color: #F6FFE0;
	background-image: none;
}

.menu_tabnav a.active:hover {
	color: #10222B;
	background: #F6FFE0 url(/images/menu_item_background.png) repeat-x top left;
  border-bottom: 3px solid #F6FFE0;
}
