.main_navigation {
  margin: 5px 8px 0px auto;
  float: right;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 0.9em;
}

.main_navigation ul {
  padding: 0;
  margin: 0;
  text-align: right;
}

.main_navigation li {
  display:inline;
  padding: 0;
  margin: 0;
  color: #E2F0D6;
}

.main_navigation li span.disabled {
  color: #FDFDFD;
}

.main_navigation a, .main_navigation a:visited, .main_navigation a:hover {
  border: none;
  padding: 0;
  margin: 0;
  font-weight: normal;
  color: #BDD684;
}

.main_navigation a:hover {
   font-weight: normal;
   color: #F6FFE0;
	 text-decoration: none;
}

.main_navigation a.active {
  font-weight: normal;
  color: #DBE5C5;
}