/* my_profile */

.bigAvatar {
  margin-left: 160px;
}

/* characters listing */

#character-listing {
  margin: 0px 0px 100px;
  width: 500px;
}

.characterListingBox {
  float: left;
  margin: 0px 10px;
  padding: 5px;
  width: 150px;
  background-color: #E2F0D6;
  -moz-border-radius-bottomleft: 12px;
	-moz-border-radius-bottomright: 12px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
  border-top: 2px solid #324001;
	border-right: 2px solid #324001;
	border-bottom: 2px solid #324001;
	border-left: 2px solid #324001;
}

.characterListingBox h3 {
  margin: 0px 5px;
}

.characterListingBox .age, .characterListingBox .level {
  margin: 0px 5px;
  color: #000;
  display: block;
}

/* character sheet */

.section {
  float: left;
  display: inline;
}

#character-sheet {
}

#character-sheet h3 a {
  font-size: 0.6em;
}

#character-sheet #basic-data {
  width: 200px;
}

#character-sheet #basic-data span {
  display: block;
}

#character-sheet #attributes {
  width: 450px;
  font-size: 0.7em;
  padding: 0px;
}

#character-sheet #attributes table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

#character-sheet #attributes table tr td {
  border-top: 1px dotted black;
  border-left: 1px dotted black;
  text-align: center;
  padding: 2px;
  width: 20px;
}

#character-sheet #attributes table tr th {
  border-right: 1px solid black;
  border-top: 1px dotted black;
  padding: 2px;
}

#character-sheet #attributes table tr.topRow th {
  border-top: 0px;
  border-left: 1px dotted black;
  border-bottom: 1px solid black;
  border-right: 0px;
}

#character-sheet #attributes table tr.oddRow {
  background-color: #eaf3e3;
}

#character-sheet #attributes table tr th.emptyCell {
  border-top: 0px;
  border-left: 0px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}