<h1>Atualizando seus dados</h1>

<p class="formDescription">Preencha os campos abaixo:</p>

<% form_for @user, :url => users_path do |f| -%>
<fieldset>
  <div class="helpBox">
    <h3>O que fazer?</h3>
    <p>Preencha o formulário ao lado e clique em atualizar.</p>
  </div>

  <%= render :partial => "form", :locals => { :f => f } %>
</fieldset>

<div class="formControls">
  <%=submit_tag "atualizar dados"%>
</div>
<% end -%>
