<%- content_for :title do -%>Página Inicial - <%- end -%>

<h1>Crie seus personagens facilmente!</h1>

<p>
  Comece agora mesmo, criando seus personagens. Ao invés de mantê-los em fichas
  velhas e gastas, você pode salvá-los aqui e imprimí-los a hora que quiser.
</p>

<h2>Crie sua conta</h2>

<p>
  <%= link_to 'Registre-se', :signup -%> agora mesmo, é fácil!
</p>