<h1>Seus personagens</h1>

<%- content_for :sidebar do -%>
  asd
<%- end -%>

<%- if @characters.empty? -%>
  <p>Você ainda não criou nenhum personagem. Deseja <%= link_to 'criar', new_user_character_path(current_user) -%> um agora?</p>
<%- else -%>
  <div id="character-listing">
  <%- @characters.each do |character|%>
    <div class="characterListingBox">
      <h3><%= link_to character.name, edit_user_character_path(current_user, character) -%></h3>
      <span class="age"><%=h displayable_age_for(character) -%></span>
      <span class="level"><%=h displayable_level_for(character) -%></span>
    </div>
  <% end %>
  </div>
<%- end -%>