<%- content_for :header do -%>
  <div id="logo"><%= link_to 'Gerador de Personagens para Tagmar', root_path -%></div>
  <%= navigation :main -%>
  <%= tabnav :menu -%>
<%- end -%>

<%= render :file => 'layouts/application' -%>